[submodule "common"]
	path = common
	url = git@github.com:ChlodAlejandro/watchlist-webhooks-common.git
[submodule "watchlist-webhooks-frontend"]
	path = watchlist-webhooks-frontend
	url = git@github.com:ChlodAlejandro/watchlist-webhooks-frontend.git
[submodule "src/frontend"]
	path = src/frontend
	url = git@github.com:ChlodAlejandro/watchlist-webhooks-frontend.git
[submodule "src/common"]
	path = src/common
	url = git@github.com:ChlodAlejandro/watchlist-webhooks-common.git
